<h2 id='title'>Welcome to Ember.js</h2>
<button {{action 'danger'}} class="danger">Danger</button>
<button {{action 'info'}} class="info">Info</button>
<button {{action 'success'}} class="success">Success</button>
<button {{action 'warning'}} class="warning">Warning</button>
{{x-wuphf}}
